.footer__copyright {
  color: #545454;
  font-family: "Inter", Arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  margin-bottom: 60px;
  margin-top: 67px;
}
@media screen and (max-width: 320px) {
  .footer__copyright {
    padding-left: 19px;
    font-size: 14px;
    line-height: 1.21;
  }
}
