.header {
  margin-top: 45px;
}
.header::after {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  width: calc(100% + 40px);
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  left: -20px;
}

.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 920px) and (min-width: 1100px) {
  .header__logo {
    padding-top: 45px;
  }
}
@media screen and (max-width: 800px) {
  .header {
    margin: 0;
  }
  .header__logo {
    padding-top: 40px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    max-width: 100%;
    margin: 0;
    margin-top: 0;
  }
  .header__logo {
    padding-left: 27px;
    padding-top: 28px;
    padding-bottom: 32px;
    margin: 0;
    max-width: 126px;
  }
}
