.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 1100px) and (min-width: 920px) {
  .header__logo {
    padding-top: 45px;
  }
}
@media screen and (max-width: 800px) {
  .header__logo {
    padding-top: 40px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    max-width: 100%;
    margin: 0;
    margin-top: 0;
  }
  .header__logo {
    padding-left: 27px;
    padding-top: 28px;
    padding-bottom: 32px;
    margin: 0;
    max-width: 126px;
  }
}
